<style type="text/css">
    .arc {
        fill: #192015;
        stroke: #ffa834;
    }
</style>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row placeholders">
        <h3 class="text-justify" id="musicanalysis">Your Current Popular Tracks</h3>
        <% for(var i = 0; i < 10;) { %>
            <div class="col">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="<%= topTracks[i].album.images[1].url %>" width="120" height="120">
                    </div>
                    <div class="col-lg-4">
                        <p class="text-left">
                            <%= topTracks[i++].name %>
                        </p>
                    </div>
                    <div class="col-lg-2">
                        <img src="<%= topTracks[i].album.images[1].url %>" width="120" height="120">
                    </div>
                    <div class="col-lg-4">
                        <p class="text-left">
                            <%= topTracks[i++].name %>
                        </p>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row placeholders" id="dialRow">
        <h3 class="text-justify">Track Analysis</h3>
        <% var musicAtr = ['Danceabilty', 'Energy', 'Loudness', 'Speechiness', 'Acousticness', 'Instrumentalness'] %>
        <% for(var i = 0; i < 6; i++) { %>
            <div class="col-lg-2" id="test<%= i %>">
                <p>
                    <%= musicAtr[i] %>
                </p>
                <script type="text/javascript">
                    var vis = d3.select("#test<%= i %>").append("svg")

                    var arc = d3.svg.arc()
                        .innerRadius(60)
                        .outerRadius(70)
                        .startAngle(-2) //converting from degs to radians
                        .endAngle(2) //just radians

                    vis.append("path")
                        .attr("d", arc)
                        .attr("class", "arc")
                        .attr("transform", "translate(70,75)")
                </script>
            </div>
            <% } %>
    </div>
</div>
